@model Anagrams.Models.ViewModels.IndexViewModel
<h2>Anagrams</h2>
@{
	ViewBag.Title = "Anagrams";
}
<div id = "anagramlookup">
@using (Html.BeginForm())
{
	 <div>@Html.TextBoxFor(t => t.Word)</div>
	 <div><input type="submit" value="Lookup Anagrams" /></div>
	 <div id = 'result'>
		<div id = 'message'></div>
		  <ul>
				@foreach (var item in Model.Anagrams)
				{
	 				<li>@item</li>
				}
		  </ul>
	 </div>
}
</div>