@model string
<h2>Index</h2>
@{
    ViewBag.Title = "Index";
}
@using (var form = Html.BeginForm())
{
   <div>@Html.TextBox("word")</div>
    <div><input type = "submit" value = "Lookup Anagrams" /></div>
}



