@model Anagrams.Models.ViewModels.IndexViewModel
<h2>Index</h2>
@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm())
{
   <div>@Html.TextBoxFor(t => t.Word)</div>
    <div><input type = "submit" value = "Lookup Anagrams" /></div>
}



