html {
	background-color: #444;
	font-family: Segoe UI, Arial, Verdana;
}

h1 {
	margin: 0 auto 15px;
	text-align: center;
}

body {
	margin: 0;
}

div#main {
	width: 500px;
	margin: 0 auto;
	background-color: #FFFFFF;
	-moz-box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 4px 8px 4px;
	box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.5);
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	padding: 10px;
}

input {
	margin: 0 auto;
	display: block;
}

div#enterWord input#Word {
	width: 400px;
	font-size: 150%;
	margin-bottom: 10px;
	-moz-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2) inset;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0px inset;
	border: 1px solid #999999;
}

div#message {
	width: 400px;
	font-size: 120%;
	color: #800;
	margin: 0 auto;
}

div#main ul {
	list-style: none;
	padding: 0 50px;
	font-size: 150%;
}

div#main ul li {
	text-align: left;
	border-bottom: 1px solid #ddd;
}