html {
	background-color: #D8EEEE;

}

body {
	margin: 0;
}

div#main {
	width: 500px;
	margin: 0 auto;
	background-color: #FFFFFF;
	-moz-box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 8px 4px;
	box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}